{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendrier</title>
    <!-- Inclure les styles CSS pour la fenêtre modale -->
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
    <!-- Contenu du calendrier -->
    <div id="calendar"></div>

<!-- Modale de réservation -->
<div id="reservationModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" style="cursor:pointer;">&times;</span>
        <h2>Réserver une Date</h2>
        <form id="reservationForm">
            <label for="userNameInput">Nom:</label>
            <input type="text" id="userNameInput" required>
            <input type="submit" value="Réserver">
        </form>
    </div>
</div>

    <!-- Inclure les fichiers JavaScript de FullCalendar -->
    <script src="{% static 'fullcalendar/core/index.global.min.js' %}"></script>
    <script src="{% static 'fullcalendar/daygrid/index.global.min.js' %}"></script>
    <script src="{% static 'fullcalendar/interaction/index.global.min.js' %}"></script>
    <!-- Inclure le fichier JavaScript personnalisé -->
    <script src="{% static 'fullcalendar/calendar.js' %}"></script>

    <!-- <script>
        // Initialiser FullCalendar sur le div avec l'id "calendar"
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'interaction', 'dayGrid' ], 
                defaultView: 'dayGridMonth',
            });
            calendar.render();
        });
    </script> -->
</body>
</html>
