{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="banner">
        <img src="{% static 'img/logo-uar_02.jpg' %}" alt="Logo">
        <h1>Bienvenue sur le site de réservation des ressources de l'UAR</h1>
    </div>
    {% if user.is_authenticated %}
    <button id="open-calendar-button" class="btn btn-primary" onclick="openCalendar()">Programmer Analyse</button>
    <a href="{% url 'account_logout' %}" class="btn btn-danger">Se déconnecter</a>
    {% else %}
        <div class="auth-links">
            <!-- Lien de connexion -->
            <div>
                <a href="{% url 'account_login' %}">Se connecter</a>
            </div>
            
            <!-- Lien de création de compte -->
            <div>
                <a href="{% url 'account_signup' %}">Créer un compte</a>
            </div>
        </div>
    {% endif %}

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Liens pour se connecter ou créer un compte -->

</div>
</body>
</html>
